@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
#contacto
{
    background-image: url('../images/fondo-contacto.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

#proyectos
{
    background-image: url('../images/fondo-proyectos.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#inicio
{
    background-image: url('../images/fondo-contacto.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

body
{
    font-family: "Monserrat", sans-serif;
}

h1
{
    font-size: 36px;
    color: #E20000;
}

p
{
    font-size: 16px;
    color: #6a6a6a;
}

nav .active
{
    border: 1px solid #E20000;
    border-radius: 22px;
}

.btn-blanco
{
    background-color: white;
    color: #370a6d;
    border-radius: 20px;
    padding: 6px 16px;
}

.btn-blanco:hover
{
    background-color: #370a6d;
    color: white;
    text-decoration: none;
}

.nav-download
{
    list-style-type: none;
}

.navbar-nav
{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

#contacto footer, #contacto footer a, #inicio footer, #inicio footer a
{
    color: white;
    font-weight: 400;
}

.whatsapp
{
    position: fixed;
    right: 70px;
    bottom: 0px;
    font-size: 31px;
    background-color: #370a6d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#contacto .fa-github, #inicio .fa-github
{
    font-size: 38px;
    color: white;
}

#contacto .fa-linkedin-in, #inicio .fa-linkedin-in
{
    font-size: 28px;
    background-color: white;
    border-radius: 22px;
    padding: 8px 8px 4px 8px;
    margin-left: 10px;
    color: #E20000;
}

#proyectos .fa-github
{
    font-size: 38px;
}

#contacto textarea
{
    height: 150px;
}

#proyectos .fa-linkedin-in, #sobre-mi .fa-linkedin-in
{
    font-size: 28px;
    background-color: white;
    border-radius: 22px;
    padding: 8px 8px 4px 8px;
    margin-left: 10px;
    color: #e20000;
}

#proyectos h2
{
    color: white;
    background: linear-gradient(90deg, rgba(125, 7, 7, 1) 0%, rgba(215, 11, 11, 1) 100%);
    font-weight: 400;
    padding: 8px 16px;
    font-size: 16px;
}

#proyectos .fa-github, #sobre-mi .fa-github
{
    font-size: 38px;
    color: #e20000;
}

#proyectos p
{
    color: #6a6a6a;
    font-size: 14px;
    text-align: justify;
}

.img-fluid
{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

#proyectos .descripcion
{
    padding: 4px 16px;
}

#proyectos .proyecto
{
    background-color: white;
    border: 1px solid #eee;
}

#proyectos footer, #proyectos footer a, #sobre-mi footer, #sobre-mi footer a
{
    color: #E20000;
}

#proyectos .fa-whatsapp, #inicio .fa-whatsapp, #sobre-mi .fa-whatsapp
{
    color:white
}

.btn-rojo
{
    color: white;
    background-color: #E20000;
    border-radius: 20px;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
}

.btn-rojo:hover
{
    background-color: #370a6d;
    color: white;
}

#proyectos .link-rojo
{
    color: #E20000;
}

#inicio img
{
    height: 400px;
}

#inicio p
{
    color: white;
    border: 1px white solid;
    border-radius: 20px;
    font-weight: 600;
    font-size: 17px;
}

#inicio img:hover
{
    transform: scale(1.025);
}

#inicio .btn-proyectos
{
    border-radius: 20px;
}

#sobre-mi p
{
    font-size: 16px;
    color: #6a6a6a;
    text-align: justify;
}

#sobre-mi .pic-profile
{
    border-radius: 50%;
}

#stack
{
    background: linear-gradient(90deg, rgba(125, 7, 7, 1) 0%, rgba(215, 11, 11, 1) 100%);
}

#stack h2
{
    color: white;
    font-size: 24px;
}

#stack h3
{
    font-size: 14px;
    color: #282828;
    font-weight: 300;
}

#stack .tecnologia
{
    border-radius: 5px;
    background-color: white;
    text-align: center;
    margin: auto;
}

#stack .tecnologia i
{
    font-size: 60px;
    color: #6a6a6a;
}

#experiencia h2, #formacion h2, #cursos h2
{
    font-size: 24px;
    font-weight: 400;
    color: #370a6d
}

#experiencia img, #formacion img
{
    filter: grayscale(100%);
    width: 100%;
    height: auto;
}

#formacion img, #cursos img
{
    filter: grayscale(100%);
    width: 85px;
    height: auto;
}

#formacion img:hover, #cursos img:hover
{
    filter: grayscale(0%);
}

#experiencia img:hover
{
    filter: grayscale(0%);
}

#experiencia h3, #formacion h3, #cursos h3
{
    color: #6a6a6a;
    font-size: 18px;
    font-weight: 600;
}

#experiencia h4, #formacion h4, #cursos h4
{
    font-size: 17px;
    color: #370A6D;
}

#experiencia h5, #formacion h5, #cursos h5
{
    color: #6A6A6A;
    font-size: 14px;
}

#experiencia p, #formacion p
{
    color: #6a6a6a;
    font-size: 16px;
    text-wrap: inherit;
}

#experiencia ul li, #formacion ul li
{
    text-align: justify;
}

#idiomas
{
    background-color: #eee;
}

#idiomas i
{
    font-size: 80px;
    color: white;
}

#idiomas h2
{
    font-size: 16px;
}

#idiomas ul
{
    font-size: 14px;
    color: #282828;
    list-style-type: none;
    padding: 0px;
}

#idiomas .card-idioma
{
    border-radius: 15px;
}

#idiomas .card
{
    background-color: #370A6D;
    border-radius: 15px;
    padding: 40px 0;
}
